* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ms4-light: white;
    --ms4-dark: black;
    --ms4-body-bg: lightgray;
    --ms4-title-color: rgb(19, 132, 132);
    --ms4-header-footer-bg: rgb(26, 39, 37);
    --ms4-head-color: rgb(112, 8, 8);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    width: 60%;
    margin: auto;
}

h2 {
    text-align: center;
    color: var(--ms4-title-color);
    font-size: 2rem;
    font-style: italic;
    padding: 1rem;
}



.row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px dashed var(--ms4-head-color);

    >.head_username,
    .head_nMedias {
        font-size: 2rem;
        color: var(--ms4-head-color);
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    >.data_username,
    .data_nMedias {
        font-size: 1.5rem;
        color: var(--ms4-dark);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    >.data_nMedias {
        margin-right: 7rem;
    }


}




img {
    margin: 3rem;
    text-align: center;
}

a {
    padding: 0.2rem;
    color: var(--ms4-light);
    text-decoration: none;
}

nav {
    background-color: var(--ms4-header-footer-bg);
    color: var(--ms4-light);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: var(--ms4-header-footer-bg);
    color: var(--ms4-light);
    padding: 2rem;
    text-align: center;
}

header {
    background-color: var(--ms4-header-footer-bg);
    color: var(--ms4-light);
    padding: 2rem;
    text-align: center;
}

.postCard {
    background-color: var(--ms4-dark);
    color: var(--ms4-light);
    border: 2px solid var(--ms4-dark);
    border-radius: 8px;
    margin: 1rem;
    padding: 0.5rem;
}